<nz-form-item *ngIf="opts.operType=='edit'">
  <nz-form-control  nzSpan="30">
    <label>登录账号
      <input type="text"  nz-input  [ngModel]="value" [disabled]="true"/>
    </label>
  </nz-form-control>
</nz-form-item>

<form nz-form [formGroup]="formGroup" (ngSubmit)="submit()">
  <nz-spin [nzSpinning]="loading">
    <nz-form-item *ngIf="opts.operType=='add'">
      <nz-form-control nzErrorTip="登录账号必须填写" nzHasFeedback nzSpan="30">
        <label>登录账号
          <input type="text"  nz-input formControlName="id"/>
        </label>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control nzErrorTip="用户姓名必须填写" nzHasFeedback nzSpan="30">
        <label>用户姓名
          <input type="text" nz-input formControlName="name"/>
        </label>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item *ngIf="opts.operType=='edit'">
      <nz-form-control nzSpan="30">
        <label>原密码
          <input type="password" nz-input formControlName="oldPassword"/>
        </label>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control nzErrorTip="密码必须填写" nzHasFeedback nzSpan="30">
        <label>密码
          <input type="password" nz-input formControlName="password"/>
        </label>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control nzErrorTip="确认密码必须填写" nzHasFeedback nzSpan="30">
        <label>密码确认
          <input type="password" nz-input formControlName="password1"/>
        </label>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item *ngIf="opts.operType=='edit'">
      <nz-form-control  nzSpan="30">
        <label>启动
          <input type="checkbox" nz-input formControlName="active"/>
        </label>
      </nz-form-control>
    </nz-form-item>

  </nz-spin>

  <div class="modal-footer">
    <button nz-button type="button" (click)="cancel()">关闭</button>
    <button nz-button [nzLoading]="submitting" [nzType]="'primary'">保存</button>
  </div>
</form>
