<div class="card-container">
  <nz-tabset  nzTabPosition="top" nzType="card" [nzTabBarExtraContent]="extraTemplate" >
    <nz-tab *ngFor="let tab of trucks ; let i = index " [nzTitle]="tab.truckCode" (nzClick)="tabChaged(tab,i)">
      <nz-table #basicTable [nzData]="listOfData" [nzLoading]="dataLoading">
        <thead>
        <tr>
          <th>日期</th>
          <th>费用</th>
          <th>单价</th>
          <th>数量</th>
          <th>金额</th>
          <th>客户</th>
          <th>备注</th>
          <th>操作</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let data of basicTable.data">
          <td>{{ data.accountDate }}</td>
          <td>{{ data.subjectName }}</td>
          <td>{{ data.price }}</td>
          <td>{{ data.count }}</td>
          <td>{{ data.result }}</td>
          <td>{{ data.customName }}</td>
          <td>{{ data.remark }}</td>
          <td>
            <a nz-button nzSize="small" nzType="link">修改</a>
            <nz-divider nzType="vertical"></nz-divider>
            <a nz-popconfirm nzPopconfirmTitle="确定要删除这条账目吗?" (nzOnConfirm)="delAccountItem()"
               (nzOnCancel)="cancelAccountItem()" nzPopconfirmPlacement="left" nz-button nzSize="small"
               nzType="link">删除</a>
          </td>
        </tr>
        </tbody>
      </nz-table>

    </nz-tab>
  </nz-tabset>
</div>
<ng-template #extraTemplate>
  <nz-date-picker (ngModelChange)="onDateChange($event)" [(ngModel)]="dateYearMonth" nzMode="month"
                  nzFormat="yyyy-MM"></nz-date-picker>
  <button nz-button [nzType]="'primary'" (click)="doAccount(dateYearMonth)" >记 账</button>
</ng-template>
