<h4>用户信息</h4>

<nz-table [nzLoading]="loading" #middleTable nzSize="middle" [nzData]="data">
  <thead>
  <tr>
    <th>登录账号</th>
    <th>用户姓名</th>
    <th>是否有效</th>
    <th><button nz-button [nzType]="'primary'" nzShape="round" (click)="addUser()"><i nz-icon nzType="plus"></i></button></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let item of middleTable.data">
    <td>{{ item.id }}</td>
    <td>{{ item.name }}</td>
    <td>{{ item.state}}</td>
    <td><button nz-button [nzType]="'primary'" nzShape="round" (click)="editUser(item)"><i nz-icon nzType="edit"></i></button></td>
  </tr>
  </tbody>
</nz-table>
