<form nz-form [formGroup]="formGroup" (ngSubmit)="submit()">
  <nz-spin [nzSpinning]="loading">

    <div nz-row>
      <div nz-col nzSpan="12">
        <nz-form-item>
          <nz-form-control nzErrorTip="费用发生日期" nzHasFeedback nzSpan="20">
            <label>费用发生日期
              <nz-date-picker class="nc-date-full-width" formControlName="accountDate"></nz-date-picker>
            </label>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzSpan="12">
        <nz-form-item>
          <nz-form-control nzErrorTip="选择费用醒目" nzHasFeedback nzSpan="20">
            <label>费用项目
              <nz-select nzShowSearch formControlName="subjectValue" [(ngModel)]="subjectValue"
                         (ngModelChange)="subjectChange($event)" nzAllowClear
                         nzPlaceHolder="选择发生费用">
                <nz-option *ngFor="let option of subjectList" [nzValue]="option" [nzLabel]="option.name"></nz-option>
              </nz-select>
            </label>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>

    <div nz-row>
      <div nz-col nzSpan="12">
        <nz-form-item>
          <nz-form-control nzErrorTip="单价必须填写" nzHasFeedback nzSpan="20">
            <label>单价
              <input #inputPriceElement type="text" nz-input formControlName="price"  (ngModelChange)="onPriceChange($event)" />
            </label>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col nzSpan="12">
        <nz-form-item>
          <nz-form-control nzErrorTip="数量必须填写" nzHasFeedback nzSpan="20">
            <label>数量
              <input #inputCountElement type="text" nz-input formControlName="count" (ngModelChange)="onCountChange($event)" />
            </label>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>

    <div nz-row>
      <div nz-col nzSpan="24">
        <nz-form-item>
          <nz-form-control nzHasFeedback nzSpan="20">
            <label>客户信息
              <nz-select nzShowSearch formControlName="customValue" [(ngModel)]="customValue"
                         (ngModelChange)="customChange($event)" nzAllowClear
                         nzPlaceHolder="选择客户">
                <nz-option *ngFor="let option of customList" [nzValue]="option" [nzLabel]="option.name"></nz-option>
              </nz-select>
            </label>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>

    <div nz-row>
      <div nz-col nzSpan="24">
        <nz-form-item>
          <nz-form-control nzHasFeedback nzSpan="20">
            <label>备注
              <textarea nz-input formControlName="remarkValue"></textarea>
            </label>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
  </nz-spin>
  <div>


    <div class="modal-footer">
      <div class="account-total">
        <label>费用合计：{{totallMoney}} 元</label>
      </div>
      <button nz-button type="button" (click)="cancel()">关闭</button>
      <button nz-button [nzLoading]="submitting" [nzType]="'primary'">保存</button>
    </div>

  </div>
</form>

